* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.align-text-center {
  text-align: center;
}

.add-btn {
  padding: 0.5rem 2rem;
}

.submit-btn {
  padding: 0.1rem 0.7rem;
}

.add-btn:hover,
.submit-btn:hover {
  background-color: #95bcf1;
}

.add-btn:active,
.submit-btn:hover {
  transform: translateY(0.2rem);
}

.pointer {
  cursor: pointer;
}

.justify-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.modal-container {
  border: solid;
}

.modal-content {
  width: 60%;
  background-color: white;
}

.auto {
  width: auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-l {
  margin-left: 1rem;
}

form {
  margin: 2rem 3rem;
}

textarea {
  margin: 1rem 0;
  height: 6rem;
}

.hidden {
  display: none;
}

.weeksBtn {
  height: 7rem;
  width: 7rem;
  margin-bottom: 1rem;
}

.justify-space-between {
  justify-content: space-between;
}

.paddingWeekBtn {
  padding: 0 7rem;
}

table {
  /* border: none; */
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border-left: 1px solid #000;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: red;
}

td:nth-child(odd) {
  width: 20%;
}
